<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/HC/headerHC.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/HC/formationsHC.css" type="text/css">
</head>

<body>
    <% if (admin == 10) { %>
    <%- include('../HC/headerHC') -%>
    <% } %>
    <% if (admin == 1) { %>
    <%- include('../admin/headerA') -%>
    <% } %>
    <% if (admin == 0) { %>
    <%- include('../utilisateur/headerU') -%>
    <% } %>
    <main id="conteneur" class="well small-lg">
        <%- include('sidebar') -%>
        <div id="content" class="well small-lg">
            <h3>
                Formations à l'Atelier d'Alegolas91
            </h3>
            <p id="textFormation">
                Bonjour à tous !
            </p>
            <p id="textFormation">
                Mes formations commencent à se mettre en place, je réalise donc des essais et j'attends des retours
                avant de proposer des sessions officielles.
            </p>
            <p id="textFormation">
                Je vais proposer plusieurs formations adaptées pour les personnes qui veulent se lancer dans le hobby !
            </p>
            <p id="textFormation">
                - Peinture
                <br>
                - Modélisme
                <br>
                - Comment bien débuter dans le hobby ?
            </p>
            <p id="textFormation">
                Toutes ces thématiques seront abordées pour que vous puissiez partir sur de bonnes bases dans le monde
                du hobby et ainsi monter vos figurines, les peindre ou encore apprendre à réaliser des décors.
            </p>
            <p id="textFormation">
                Si vous êtes intéressés pour suivre l'une de ces formations ou avoir des infos, n'hésitez pas à me
                contacter.
            </p>
            <hr>
            <h5>
                1) Session de formation peinture : Débutant :
            </h5>
            <br>
            <p id="textFormation">
                Dans cette formation, vous apprendrez tout ce qu'il faut savoir pour débuter comme il se doit la
                peinture sur figurines. Un mélange de pratique et de théorie pour aborder au mieux le monde du hobby !
            </p>
            <p id="textFormation">
                D'une durée de 4h, cette formation vous permettra d'acquérir toutes les bases nécessaires pour peindre
                vos figurines en utilisant les principales techniques de base. En parallèle, nous verrons plusieurs
                aspects du Hobby qui peuvent parfois échapper aux débutants !
            </p>
            <p id="textFormation">
                Aucun pré-requis, vous repartirez avec un pinceau adapté à la peinture sur figurines mais aussi votre
                figurine peinte et offerte pendant la session.
            </p>
            <p id="textFormation">
                Je vous mettrai par la suite le programme de cette formation.
            </p>
            <br>
            <p id="textFormation">
                <strong>Prix de la formation</strong> : 40€ en cours particulier pour le moment. Des sessions
                collectives seront ensuite mises en place et
                elles permettront de vous proposer un prix plus attractif !
            </p>
            <br>
            <p id="textFormation">
                N'hésitez pas à me contacter par mail pour toutes questions ou demande de participation :
                <br>
                <address id="textFormation">
                    <a id="mail" href="mailto:alexandre.raymond@live.fr">alexandre.raymond@live.fr</a>
                </address>
            </p>
        </div>
        <div id="retourAccueil">
            <a href="/Accueil">Retour à l'Accueil</a>
        </div>
    </main>
    <%- include('footer') -%>
</body>

</html>