<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/common/header.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/common/quiSuisJe.css" type="text/css">
</head>

<body>
    <% if (admin == 10) { %>
    <%- include('../HC/headerHC') -%>
    <% } %>
    <% if (admin == 1) { %>
    <%- include('../admin/headerA') -%>
    <% } %>
    <% if (admin == 0) { %>
    <%- include('../utilisateur/headerU') -%>
    <% } %>
    <main id="conteneur" class="well small-lg">
        <%- include('sidebar') -%>
        <div id="content" class="well small-lg">
            <h3>
                Qui suis-je ?
            </h3>
            <p id="textContact">
                Bonjour à tous les hobbyistes !
            </p>
            <br>
            <p id="textContact">
                Tout d'abord je me présente, Alexandre Raymond, je suis depuis plus de 10 ans impliqué dans le modélisme
                et la peinture et surtout ancien joueur du Seigneur des Anneaux. Maintenant entièrement consacré à mon
                hobby favori, je propose de mettre mon temps et mon savoir-faire à disposition de tous. Que ce soit une
                armée à peindre, une escouade, des petits décors en passant par des tables de jeu entières, je saurai
                m’imprégner de votre projet pour le réaliser le plus fidèlement possible suivant vos directives. Je suis
                en quelque sorte l'outil de votre imagination !
            </p>
            <br>
            <p id="textContact">
                Pour la peinture, je travaille à l'aérographe pour tout ce qui est couche de base, dégradés rapides ou
                encore pour les monstres et armées qui présentent de grandes surfaces d'armures par exemple. Puis bien
                sûr, je travaille également au pinceau pour les finitions.
            </p>
            <br>
            <p id="textContact">
                Je peux également monter vos figurines, réaliser des conversions simples, réaliser des soclages
                complexes mais aussi aimanter. Les possibilités sont donc infinies.
            </p>
            <p id="textContact">
                Ma plus grande passion dans le modélisme reste la création de décors et de tables de jeu. J'aime pouvoir
                donner vie à un environnement imaginaire et y voir évoluer les figurines en cours de bataille. Je
                n'aurais ainsi aucun mal à créer tout ce qui sortira de votre imagination.
            </p>
            <br>
            <p id="textContact">
                Vous pouvez maintenant découvrir sur quelques photos, mon atelier qui est en constante évolution :
            </p>
            <br>
            <figure>
                <a href="/images/contact/ate1.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate1.jpg" alt="Photo 1 de l'atelier">
                </a>
            </figure>
            <figure>
                <a href="/images/contact/ate2.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate2.jpg" alt="Photo 2 de l'atelier">
                </a>
            </figure>
            <figure>
                <a href="/images/contact/ate3.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate3.jpg" alt="Photo 3 de l'atelier">
                </a>
            </figure>
            <figure>
                <a href="/images/contact/ate4.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate4.jpg" alt="Photo 4 de l'atelier">
                </a>
            </figure>
            <figure>
                <a href="/images/contact/ate5.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate5.jpg" alt="Photo 5 de l'atelier">
                </a>
            </figure>
            <figure>
                <a href="/images/contact/ate6.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/contact/ate6.jpg" alt="Photo 6 de l'atelier">
                </a>
            </figure>
            <br>
            <p id="textContact">
                J'habite dans l'Hérault dans la capitale du Languedoc Roussillon : Montpellier (34). Il y a donc
                possibilité d'une remise en main propre et discussion des projets directement à mon atelier pour les
                joueurs et collectionneurs de la région !
            </p>
            <p id="textContact">
                Je propose donc deux types de services : <strong>décors et peinture</strong>.
            </p>
            <p id="textContact">
                Ce site permettra aux hobbyistes de s'informer plus facilement sur les services que je propose mais
                aussi de suivre toutes mes commandes et réalisations.
            </p>
            <p id="textContact">
                Vous aurez également la possibilité de consulter toutes mes précédentes réalisations que ce soit la
                peinture d'armées ou la réalisations de décors !
            </p>
            <br>
            <p id="textContact">
                Je suis donc aujourd'hui auto-entrepreneur pour vous réaliser vos décors ou vos peintures.
            </p>
            <p id="textContact">
                N° de siret : 799 863 279 00029
            </p>
            <br>
            <br>
            <p id="textContact">
                Vous pouvez donc me contacter directement par mail à :
                <br>
                <address id="textContact">
                    <a id="mail" href="mailto:devis@atelier-alegolas91.fr">devis@atelier-alegolas91.fr</a>
                </address>
            </p>
            <br>
            <br>
            <p id="textContact">
                A bientôt j'espère, et en vous souhaitant une excellente visite !
            </p>
            <br>
            <p id="textContact">
                Alexandre Raymond, "Alegolas91"
            </p>
        </div>
        <div id="retourAccueil">
            <a href="/Accueil">Retour à l'Accueil</a>
        </div>
    </main>
    <%- include('footer') -%>
</body>

</html>