<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/HC/headerHC.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/HC//services/servicesPeintureHC.css" type="text/css">
</head>

<body>
    <% if (admin == 10) { %>
    <%- include('../../HC/headerHC') -%>
    <% } %>
    <% if (admin == 1) { %>
    <%- include('../../admin/headerA') -%>
    <% } %>
    <% if (admin == 0) { %>
    <%- include('../../utilisateur/headerU') -%>
    <% } %>
    <main id="conteneur" class="well small-lg">
        <%- include('../sidebar') -%>
        <div id="content" class="well small-lg">
            <h3>
                Informations sur le service de peinture
            </h3>
            <p>
                Pour le service de peinture, les figurines sont peintes selon le schéma de couleur choisi. Je peux
                partir d'un protocole bien établi (disposant de presque la totalité des couleurs, je vous laisse une
                grande marge de manœuvre !) ou alors d'une simple image trouvée sur le net. Je peux aussi improviser
                suivant les couleurs principales que vous voulez voir apparaître sur vos figurines. Elles peuvent être
                fournies sous-couchées, déjà peintes, partiellement peintes ou même à monter (attention, certains états
                engendrent du travail supplémentaire et donc un surcoût). Pour ce service, le soclage de vos figurines
                est inclus dans le prix ! Mais attention, si vous me demandez de réaliser un socle avec une rivière,
                texturé ou autre, il y aura un léger supplément !
            </p>
            <p>
                Je propose tout d'abord un niveau de peinture standard de type « Jeu » ou Tabletop. Ce niveau de
                peinture définit une qualité standard de la figurine avec mise en relief des détails et travail sur les
                éclaircissements et ombrages de manière à donner un rendu global satisfaisant. Ce type de niveau de
                peinture convient parfaitement pour des figurines dédiées uniquement au jeu mais surtout à la peinture
                d'une armée, pour laquelle le rendu globale est beaucoup plus important que le rendu individuel. Je
                travaille ainsi avec un aérographe pour les couleurs prédominantes puis au pinceau pour les finitions.
            </p>
            <p>
                Je propose également de peindre vos figurines selon un niveau de peinture plus poussé correspondant à un
                niveau Tabletop +. Je passe plus de temps sur les figurines pour y travailler soigneusement les détails
                comme les yeux par exemple. J'y applique également de multiples éclaircissements et ombrages successifs
                pour augmenter le rendu et le réalisme de la figurine. Ce niveau de peinture convient parfaitement aux
                héros, capitaines ou certaines grosses pièces qui mériteraient qu'on s'y attarde davantage.
            </p>
            <hr>
            <h5>
                Tarifs pour le niveau type "jeu" (Tabletop) pour du 28 mm :
            </h5>
            <br>
            <p>
                <strong>
                    Pour des figurines bien spécifiques ou plus imposantes, ou encore des jeux peu communs, n'hésitez
                    pas à
                    me contacter pour connaître les tarifs, j'indique ici les tarifs pour les figurines les plus
                    communes :
                </strong>
            </p>
            <p>
                - <strong>4€</Strong> par figurine à pied simple (Zombicide, guerriers de base ...) ou
                <strong>5€</strong> par figurine à pied complexe ou
                plus imposante (Space Marine etc...)
            </p>
            <p>
                - <strong>6€</Strong> pour un Héros à pied.
            </p>
            <p>
                - <strong>7€</Strong> pour de l'infanterie à cheval.
            </p>
            <p>
                - <strong>7.5€</Strong> pour un héros à cheval.
            </p>
            <p>
                - Entre <strong>6€</strong> et <strong>50€</strong> suivant le type de créature ou monstres, ou encore
                armes de sièges. N'hésitez pas à me contacter pour me donner la taille de votre figurine, les prix sont
                très variables selon la pièce !
            </p>
            <p>
                - <strong>Optionnel avec supplément</strong> : Soclage complexe, vernis, montage, aimantage, travail
                green stuff. (<a id="lien" href="/Services/ServicesAnnexes"> Voir les services annexes : cliquez ici
                    !</a>)
            </p>
            <p id="finParagraphe">
                Le prix des services comprend la sous-couche et un soclage basique (si demandé). Un supplément vous sera
                demandé si les figurines sont à monter ou pour la réalisation de socles plus complexes par exemple.
                <br>
                <a id="lien" href="/Accueil">Retrouvez toutes mes réalisations sur la page d'accueil.</a>
            </p>
            <hr>
            <h5>
                Tarifs pour le niveau (Tabletop +) pour du 28 mm :
            </h5>
            <br>
            <p>
                <strong>
                    Pour des figurines bien spécifiques ou plus imposantes, ou encore des jeux peu communs, n'hésitez
                    pas à me contacter pour connaître les tarifs, j'indique ici les tarifs pour les figurines les plus
                    communes :
                </strong>
            </p>
            <p>
                - <strong>7€</Strong> par figurine à pied simple (Zombicide, guerriers de base ...) ou
                <strong>8€</strong> par figurine à pied complexe ou
                plus imposante (Space Marine etc...)
            </p>
            <p>
                - <strong>8.5€</Strong> pour un Héros à pied.
            </p>
            <p>
                - <strong>9.5€</Strong> pour de l'infanterie à cheval.
            </p>
            <p>
                - <strong>10</Strong> pour un héros à cheval.
            </p>
            <p>
                - Pour des figurines de grandes tailles, n'hésitez pas à m'envoyer un message car cela dépend de la
                complexité.
            </p>
            <p>
                - <strong>Optionnel avec supplément</strong> : Soclage complexe, vernis, montage, aimantage, travail
                green stuff. (<a id="lien" href="/Services/ServicesAnnexes"> Voir les services annexes : cliquez ici
                    !</a>)
            </p>
            <p id="finParagraphe">
                Le prix des services comprend la sous-couche et un soclage basique (si demandé). Un supplément vous sera
                demandé si les figurines sont à monter ou pour la réalisation de socles plus complexes par exemple.
                <br>
                <a id="lien" href="/Accueil">Retrouvez toutes mes réalisations sur la page d'accueil.</a>
            </p>
            <hr>
            <h5>
                Délais et livraison :
            </h5>
            <br>
            <p>
                La livraison se fait en colis suivi qui est à votre charge pour l'aller et le retour. Votre colis sera
                surdimensionné et protégé. Vos figurines seront protégées un maximum possible pour éviter les casses.
            </p>
            <p>
                Concernant les délais, tout dépend du nombre de commande et du moment où vous passez votre commande. Des
                délais vous seront indiqués par e-mail à titre indicatif. Vous recevrez des photos et des informations
                sur l'avancée de votre commande le plus souvent possible. Je communique par e-mail ou par SMS pour
                l'envoi des photos et nouvelles. Surtout, il ne faut pas hésiter à me contacter ou me relancer si vous
                avez des questions !
            </p>
            <hr>
            <h5>
                Paiement de votre commande :
            </h5>
            <br>
            <p>
                Je suis assez ouvert concernant le règlement de votre commande. J'accepte le règlement par Paypal (plus
                rapide mais des éventuels frais à prévoir) sinon par chèque ou virement bancaire. (ou en liquide
                exclusivement sur remise en main propre sur Montpellier (34)). Bref, vous avez l'embarras du choix !
            </p>
            <p>
                Sachez également que je ne demande aucun règlement avant d'avoir fini complètement une commande. Par
                contre, j'expédie un colis uniquement après règlement, ce qui est plutôt logique finalement !
            </p>
        </div>
        <div id="retourAccueil">
            <a href="/Accueil">Retour à l'Accueil</a>
        </div>
    </main>
    <%- include('../footer') -%>
</body>

</html>