<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/HC/headerHC.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/HC/services/servicesAnnexesHC.css" type="text/css">
</head>

<body>
    <% if (admin == 10) { %>
    <%- include('../../HC/headerHC') -%>
    <% } %>
    <% if (admin == 1) { %>
    <%- include('../../admin/headerA') -%>
    <% } %>
    <% if (admin == 0) { %>
    <%- include('../../utilisateur/headerU') -%>
    <% } %>
    <main id="conteneur" class="well small-lg">
        <%- include('../sidebar') -%>
        <div id="content" class="well small-lg">
            <h3>
                Informations sur les services annexes
            </h3>
            <p>
                Les services annexes sont tous les petits services additionnels que vous pouvez rajouter à vos
                commandes. Ces services sont donc listés sur cette page. Vous pouvez donc demander ces services en plus
                de votre commande de peinture ou de décors.
            </p>
            <hr>
            <h5>
                Sommaire :
            </h5>
            <br>
            <p>
                Cliquez ci-dessous pour accéder directement à la description des services proposés :
                <br>
                <br>
                - <a id="lien" href="#Partie1">Montage de vos figurines et rebouchage des interstices</a>
                <br>
                - <a id="lien" href="#Partie2">L'aimantage de vos figurines et de vos décors</a>
                <br>
                - <a id="lien" href="#Partie3">Conversion et sculpture à la green stuff</a>
            </p>
            <hr>
            <h5 id="Partie1">
                Montage de vos figurines et rebouchage des interstices :
            </h5>
            <br>
            <p id="attention">
                Ce service est réservé aux clients qui veulent peindre leurs figurines mais qui préfèrent
                <strong>exclusivement</strong>
                confier le montage et le travail à la green stuff sur leurs grosses figurines.
            </p>
            <br>
            <p>
                Il vous est possible de faire monter vos figurines sans les faire peindre. Pour cela, il suffit de me
                contacter pour réaliser le montage de vos figurines en décrivant les boîtes et les options que vous
                voulez inclure.
            </p>
            <p>
                Je réalise également le rebouchage des interstices pour les grosses figurines ou les fameuses figurines
                en résine qui présentent parfois des défauts de moulage.
            </p>
            <p>
                Le prix varie selon la taille de la figurine à monter et le nombre. Vous pouvez me contacter pour
                effectuer un devis, un effort est réalisé sur le prix pour le montage de nombreuses figurines.
            </p>
            <p>
                Le prix varie selon la taille de la figurine à monter et le nombre. Vous pouvez me contacter pour
                effectuer un devis, un effort est réalisé sur le prix pour le montage de nombreuses figurines.
            </p>
            <hr>
            <h5 id="Partie2">
                L'aimantage de vos figurines et/ou de vos décors :
            </h5>
            <br>
            <p>
                Vous verrez que beaucoup d'hobbyistes auront recours à l'utilisation de petits aimants assez puissants
                pour aimanter leurs figurines.
            </p>
            <p>
                En effet, c'est une méthode peu coûteuse qui présente de nombreux atouts. Tout d'abord, cela peut vous
                permettre de défaire et assembler une figurine imposante pour faciliter son rangement dans une mallette
                de jeu par exemple.
            </p>
            <p>
                Mais ces petites aimants vont également vous permettre d'aimanter les bras et corps de vos figurines
                afin de les équiper des options d'armes que vous voulez jouer. Fini le temps où il fallait acheter un
                tas de boîtes de guerriers pour avoir telle ou telle arme équipée ! Pratique également pour les tournois
                ou
                parties où les figurines doivent être WYSIWYG.
            </p>
            <p>
                Pour des décors, vous pouvez par exemple aimanter les arbres d'une forêt afin de les enlever pour
                faciliter le rangement et le jeu pour le passage des régiments.
            </p>
            <p>
                Je vous propose donc d'aimanter vos figurines suivant vos besoins et envies. Le prix varie suivant la
                taille des aimants utilisés. Le prix peut varier de 0.50€ à 1€ pour le prix de l'aimant et sa pose !
            </p>
            <br>
            <h6>
                Exemples pour l'aimantage d'un Trygon Tyrannide pour faciliter son rangement (4 Aimants sur la jonction
                Corps - Queue) :
            </h6>
            <br>
            <figure>
                <a href="/images/services/annexes/exAimant1.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exAimant1.jpg" alt="Photo 1 d'exemple d'aimantage">
                </a>
            </figure>
            <figure>
                <a href="/images/services/annexes/exAimant2.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exAimant2.jpg" alt="Photo 2 d'exemple d'aimantage">
                </a>
            </figure>
            <br>
            <h6>
                Exemples pour l'aimantage de toutes les options d'armes pour des Guerriers Tyrannides. Intergeangeables
                à volonté ! :
            </h6>
            <br>
            <figure>
                <a href="/images/services/annexes/exAimant3.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exAimant3.jpg" alt="Photo 3 d'exemple d'aimantage">
                </a>
            </figure>
            <figure>
                <a href="/images/services/annexes/exAimant4.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exAimant4.jpg" alt="Photo 4 d'exemple d'aimantage">
                </a>
            </figure>
            <figure>
                <a href="/images/services/annexes/exAimant5.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exAimant5.jpg" alt="Photo 5 d'exemple d'aimantage">
                </a>
            </figure>
            <hr>
            <h5 id="Partie3">
                Conversion et sculpture à la green stuff :
            </h5>
            <br>
            <p>
                Pour ce service, je vous propose la possibilité de réaliser vos conversions pour vos figurines ainsi que
                des décors sculptés à la green stuff.
            </p>
            <p>
                Pour les figurines, je peux par exemple réaliser de petites sculptures pas trop détaillées et pour les
                décors, je peux réaliser des éléments précis ou des éléments qui nécessitent du travail de sculpture.
            </p>
            <br>
            <h6>
                Exemples d'une conversion et d'une sculpture :
            </h6>
            <br>
            <p id="descr">
                Ajout d'ailes sur un prince démon de Nurgle pour le jouer à Warhammer Battle :
            </p>
            <figure>
                <a href="/images/services/annexes/exConv1.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exConv1.jpg" alt="Photo 1 d'exemple de conversion">
                </a>
            </figure>
            <p id="descr">
                Sculpture de spores mycétiques pour des tyranides :
            </p>
            <figure>
                <a href="/images/services/annexes/exConv2.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exConv2.jpg" alt="Photo 2 d'exemple de conversion">
                </a>
            </figure>
            <figure>
                <a href="/images/services/annexes/exConv3.jpg" data-fancybox data-caption="">
                    <img id="imgAte" src="/images/services/annexes/exConv3.jpg" alt="Photo 3 d'exemple de conversion">
                </a>
            </figure>
        </div>
        <div id="retourAccueil">
            <a href="/Accueil">Retour à l'Accueil</a>
        </div>
    </main>
    <%- include('../footer') -%>
</body>

</html>