<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/common/header.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/modifierDevis.css" type="text/css">
</head>

<body>
    <%- include('headerA') -%>
    <main id="conteneur" class="well small-lg">
        <div id="content" class="well small-lg">
            <h3>
                Consultation d'une facture
            </h3>
            <p>
                - <a id="lien" href="#Partie1"> Lignes de commandes de la facture.</a>
            </p>
            <br>
            <br>
            <h5 id="Partie1">
                Lignes de commandes de la facture :
            </h5>
            <table class="table-striped">
                <thead>
                    <tr>
                        <th>Libellé de la ligne de commande</th>
                        <th>Quantité</th>
                        <th>Prix unitaire</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    <% var montantTot = 0; %>
                    <% for (var i =0; i<LC.length;i++){ %>
                    <tr>
                        <% var montant = LC[i].PrixTarifUnitaire * LC[i].Quantité; %>
                        <% montantTot+= montant; %>
                        <td><%= LC[i].LibelléLigneCommande %></td>
                        <td><%= LC[i].Quantité %></td>
                        <td><%= LC[i].PrixTarifUnitaire.toFixed(2); %></td>
                        <td><%= montant.toFixed(2); %></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Montant Total :</td>
                        <td> - </td>
                        <td> - </td>
                        <td><%= montantTot.toFixed(2); %></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div id="retourAccueil">
            <a href="/EspaceAdmin/GestionDevis">Retour à la gestion des devis</a>
        </div>
    </main>

    <%- include('../common/footer') -%>
</body>

</html>