<!DOCTYPE html>
<html id="HautPage" lang="fr">

<head>
    <title>L'Atelier d'Alegolas 91 : L'Atelier</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/common/header.css" type="text/css">
    <link rel="stylesheet" href="/css/common/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/common/general.css" type="text/css">
    <link rel="stylesheet" href="/css/admin/gestionArticlesCatégories.css" type="text/css">
</head>

<body>
    <%- include('headerA') -%>
    <main id="conteneur" class="well small-lg">
        <div id="content" class="well small-lg">
            <h3>
                Ajout et gestion des Articles / Catégories
            </h3>
            <p>
                - <a id="lien" href="#Partie1"> Ajouter une catégorie.</a>
            </p>
            <p>
                - <a id="lien" href="#Partie2"> Gérer les catégories.</a>
            </p>
            <p>
                - <a id="lien" href="#Partie3"> Créer un article.</a>
            </p>
            <br>
            <br>
            <h5 id="Partie1">
                Créer une nouvelle catégorie :
            </h5>
            <% if (cas == 0) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Mauvaise entrée, veuillez réessayer.
            </div>
            <% } %>
            <% if (cas == 1) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Cette catégorie existe déjà.
            </div>
            <% } %>
            <% if (cas == 2) { %>
            <div id="align" class="alert alert-success" role="alert">
                Ajout de la catégorie avec succès !
            </div>
            <% } %>
            <% if (cas == 3) { %>
            <div id="align" class="alert alert-success" role="alert">
                Suppression de la catégorie avec succès !
            </div>
            <% } %>
            <% if (cas == 4) { %>
            <div id="align" class="alert alert-success" role="alert">
                Modification de la catégorie avec succès !
            </div>
            <% } %>
            <% if (cas == 9) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Vous ne pouvez modifier / Supprimer une catégorie ou un article n'existant pas.
            </div>
            <% } %>
            <form action="/EspaceAdmin/GestionArticlesCategories/1" method="POST">
                <div class="form-group">
                    <label>Libellé de la catégorie :</label>
                    <input class="form-control" name="libCat">
                </div>
                <div id="align">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
            <h5 id="Partie2">
                Gestion des catégories :
            </h5>
            <script>
                $(document).ready(function () {
                    $("#filtre").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#aTrié tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
            <table class="table-striped">
                <input class="form-control" id="filtre" type="text" placeholder="Rechercher une catégorie ...">
                <thead>
                    <tr>
                        <th>Libellé Catégorie</th>
                        <th>Modification</th>
                        <th>Suppression</th>
                    </tr>
                </thead>
                <tbody id="aTrié">
                    <% for (var i = 0;i<catégories.length;i++) { %>
                    <tr>
                        <td><%= catégories[i].LibelléCatégorie %></td>
                        <% var link3 = 'GestionArticlesCategories/'+catégories[i].NumCatégorie+'/ModifierCategorie'; %>
                        <td><a href=<%= link3 %>><button class="btn btn-success">Modifier</button></a></td>
                        <% var link= 'supprimer'+catégories[i].NumCatégorie %>
                        <td><button data-toggle="collapse" data-target="#<%= link %>"
                                class="btn btn-danger">Supprimer</button>
                            <div id="<%= link %>" class="collapse">
                                <% var link2 = 'GestionArticlesCategories/'+catégories[i].NumCatégorie+'/SupprimerCategorie'; %>
                                <a href="<%= link2 %>"><button class="btn btn-danger">Confirmer la
                                        suppression</button></a>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                </tbody>
            </table>
            <h5 id="Partie3">
                Créer un article :
            </h5>
            <% if (cas == 5) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Veuillez entrer un titre correct.
            </div>
            <% } %>
            <% if (cas == 6) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Veuillez entrer un texte correct.
            </div>
            <% } %>
            <% if (cas == 7) { %>
            <div id="align" class="alert alert-danger" role="alert">
                Veuillez choisir au moins une catégorie.
            </div>
            <% } %>
            <% if (cas == 8) { %>
            <div id="align" class="alert alert-success" role="alert">
                Article publié avec succès !
            </div>
            <% } %>
            <form action="/EspaceAdmin/GestionArticlesCategories/2" enctype="multipart/form-data" method="POST">
                <div class="form-group">
                    <label>Titre de l'Article (255 caractères au maximum) :</label>
                    <input <% if (cas != 8) { %> value="<%- titreArticle%>" <% } %> class="form-control"
                        name="TitreArticle">
                </div>
                <label>Texte de l'Article :</label>
                <textarea class="form-control" name="texteArticle"
                    rows="5"><% if (cas != 8) { %> <%- texteArticle %> <% } %></textarea>
                <script>CKEDITOR.replace('texteArticle')</script>
                <label id="marg" for="sel">Sélectionner les différentes catégories de l'article (appuyer sur 'Ctrl' pour
                    un choix multiple) :</label>
                <script>
                    $(document).ready(function () {
                        $("#filtre2").on("keyup", function () {
                            var value = $(this).val().toLowerCase();
                            $("#sel option").filter(function () {
                                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                        });
                    });
                </script>
                <input class="form-control" id="filtre2" type="text" placeholder="Rechercher une catégorie ...">
                <select multiple class="form-control" id="sel" name="Categories">
                    <% for (var i = 0; i < catégories.length;i++) { %>
                    <option><%= catégories[i].LibelléCatégorie %></option>
                    <% } %>
                </select>
                <label id="marg" for="sel">Sélectionner les images que vous voulez associer à l'article (.png ou
                    .jpeg):</label>
                <input type="file" enctype="multipart/form-data" accept="image/png, image/jpeg" name="images" multiple>
                <div id="align">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </div>
            </form>
        </div>
        <div id="retourEspaceAdmin">
            <a href="/EspaceAdmin">Retour à l'Espace Admin</a>
        </div>
    </main>
    <%- include('../common/footer') -%>
</body>

</html>